  <!-- Contact Section -->
  <main>
    <section id="contact" class="contact-container" data-aos="fade-up">
      <div class="contact-card">
        <h1>¡Conéctate Conmigo!</h1>
        <p>Puedes seguirme en mis redes sociales para ver mis últimos trabajos, noticias y más. ¡No dudes en escribirme!</p>
      </div>
      
      <!-- Social Media Links -->
      <div class="social-media-links" data-aos="fade-up">
        <a href="https://www.instagram.com/edithmanrique" target="_blank" class="social-link instagram">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="https://www.facebook.com/edithmanrique" target="_blank" class="social-link facebook">
          <i class="fab fa-facebook"></i> Facebook
        </a>
        <a href="https://twitter.com/edithmanrique" target="_blank" class="social-link twitter">
          <i class="fab fa-twitter"></i> Twitter
        </a>
        <a href="https://www.linkedin.com/in/edithmanrique" target="_blank" class="social-link linkedin">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="mailto:contacto@edithmanrique.com" class="social-link email">
          <i class="fas fa-envelope"></i> Correo Electrónico
        </a>
      </div>
    </section>
  </main>
