<!-- Contact Section -->
<main>
  <section id="contact" class="contact-container" data-aos="fade-up">
    <div class="contact-card">
      <h1>¡Conéctate Conmigo!</h1>
      <p>
        Puedes seguirme en mis redes sociales para ver mis últimos trabajos, noticias y más.
        <strong>¿Quieres una cita? Escríbeme por WhatsApp y prográmala fácilmente.</strong>
      </p>
    </div>
    
    <!-- Social Media Links -->
    <div class="social-media-links" data-aos="fade-up">
      <a href="https://www.instagram.com/edithmanriquemakeup?utm_source=qr&igsh=MTJoaHFuODFrcWt4eA==" target="_blank" class="social-link instagram">
        <i class="fab fa-instagram"></i>
        <span>Instagram</span>
      </a>
      <a href="https://www.facebook.com/share/15J2TKoj5h/" target="_blank" class="social-link facebook">
        <i class="fab fa-facebook"></i>
        <span>Facebook</span>
      </a>
      <a href="https://wa.me/524775863115" target="_blank" class="social-link whatsapp">
        <i class="fab fa-whatsapp"></i>
        <span>WhatsApp</span>
      </a>
      <a href="mailto:Edithmanriquemakeup@gmail.com" class="social-link email">
        <i class="fas fa-envelope"></i>
        <span>Correo Electrónico</span>
      </a>
    </div>
  </section>
</main>
