/* Configuración global */
html, body {
  height: 100%; /* Ocupa todo el alto disponible */
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina relleno predeterminado */
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; /* Elimina el desplazamiento horizontal */
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFFF; /* Fondo blanco */
  color: #FFD700; /* Texto dorado */
}

/* Ocultar barras de desplazamiento */
::-webkit-scrollbar {
  display: none;
}

/* Navbar */
.navbar {
  background-color: #ffc0cb7d; /* Color rosa pálido */
  color: #FFD700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: static;
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
  z-index: 1000;
  overflow: hidden; /* Evita el scroll horizontal */
}

.navbar-logo img {
  height: 120px;
  margin-left: 50px;
  max-width: 100%; /* Asegura que no se estire más allá del ancho del contenedor */
}

.navbar-links {
  display: flex;
  gap: 15px; /* Espacio entre los enlaces */
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 8px;
  padding: 5px 10px;
  transition: color 0.3s ease;
  cursor: pointer; /* Asegura que el puntero se muestre como clicable */
  display: inline-block; /* Evita que el texto actúe como bloque */
}

.navbar-links a:hover {
  color: #f8dc6c;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 5px; /* Ajusta el relleno para pantallas pequeñas */
  }

  .navbar-logo img {
    height: 80px; /* Reducir el tamaño del logo en pantallas pequeñas */
  }

  .navbar-links {
    gap: 10px; /* Reduce el espacio entre los enlaces */
  }

  .navbar-links a {
    font-size: 0.8em; /* Reduce el tamaño de la fuente en pantallas pequeñas */
  }
}
