<header class="navbar">
  <div class="navbar-logo">
    <img src="assets/Diseño_edith__2.png" alt="Edith Manrique MakeUp Artist Logo">
  </div>

  <nav class="navbar-links">
    <a routerLink="/inicio">{{ 'NAVBAR.HOME' | translate }}</a>
    <a routerLink="/servicios">{{ 'NAVBAR.SERVICES' | translate }}</a>
    <a routerLink="/portafolio">{{ 'NAVBAR.PORTFOLIO' | translate }}</a>
    <a routerLink="/contacto">{{ 'NAVBAR.CONTACT' | translate }}</a>
  </nav>

  <div class="lang-switch">
    <button (click)="cambiarIdioma('es')">🇲🇽 ES</button>
    <button (click)="cambiarIdioma('en')">🇺🇸 EN</button>
  </div>

  <div *ngIf="mostrarMensajeDesliza" class="mensaje-desliza">
    <span>{{ 'UI.SCROLL_MESSAGE' | translate }}</span>
  </div>
</header>

<div class="loading-language" *ngIf="cargandoIdioma">
  <div class="loading-box">
    <div class="spinner"></div>

    <p>
      {{ 'UI.CHANGING_LANGUAGE' | translate }}
    </p>
  </div>
</div>

<!-- 🔥 ESTO VA FUERA DEL HEADER -->
<main>
  <router-outlet></router-outlet>
</main>