/* Configuración global */
html, body {
  height: 100%; /* Ocupa todo el alto disponible */
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina relleno predeterminado */
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFFF; /* Fondo blanco */
  color: #FFD700; /* Texto dorado */
}

/* Ocultar barras de desplazamiento */
::-webkit-scrollbar {
  display: none;
}

/* Navbar */
.navbar {
  background-color: #ffc0cb7d; /* Color rosa pálido */
  color: #FFD700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: static;
  width: 100%;
  z-index: 1000;
}

.navbar-logo img {
  height: 120px;
  margin-left: 50px;
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 8px;
  transition: color 0.3s ease;
  margin-right: 80px;
}

.navbar-links a:hover {
  color: #f8dc6c;
}




@media (max-width: 768px) {
  .mission-card img {
    max-width: 80px; /* Tamaño reducido en pantallas pequeñas */
  }
}


/* Adaptaciones para pantallas pequeñas */
@media (max-width: 768px) {
  .mission-section {
    flex-direction: column; /* Coloca las tarjetas en columna */
    align-items: center; /* Centra las tarjetas */
  }

  .mission-card {
    width: 100%; /* Asegura que ocupen el ancho disponible */
  }
}




