<!-- Modal -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">×</span>
    
    <div class="modal-images">
      <div class="image-container">
        <span class="image-label">Antes</span>
        <img [src]="servicioSeleccionado?.antes" alt="Antes" class="modal-img">
      </div>
      <div class="image-container">
        <span class="image-label">Después</span>
        <img [src]="servicioSeleccionado?.despues" alt="Después" class="modal-img">
      </div>
    </div>
    <h2>{{servicioSeleccionado?.titulo}}</h2>
  </div>
</div>



<!-- Sección Galería -->
<section id="galeria" class="galeria">
  <h1 class="section-title"  data-aos="fade-up">✨ Mi Trabajo</h1>
  <p class="section-subtitle"  data-aos="fade-up">Descubre el arte detrás de cada transformación. Comparte la belleza del antes y después.</p>
  <div class="gallery"  data-aos="fade-up">
    <!-- Card 1 -->
    <div class="card" *ngFor="let item of album">
      <div class="image-container">
        <div class="before-container">
          <img [src]="item.antes" alt="{{item.titulo}} - Antes" class="before-img">
          <p class="text">Antes</p>
        </div>
        <div class="after-container">
          <img [src]="item.despues" alt="{{item.titulo}} - Después" class="after-img">
          <p class="text">Después</p>
        </div>
      </div>
      <p class="card-title">{{item.titulo}}</p>
    </div>
  </div>
</section>

<section id="multimedia" class="multimedia" data-aos="fade-up">
  <h1 class="section-title" data-aos="fade-up">🎥 Mi Trabajo en Video</h1>
  <p class="section-subtitle" data-aos="fade-up">Explora mis mejores trabajos en maquillaje a través de videos. ¡Mira la magia en acción!</p>
  <div class="swiper video-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <video src="assets/video1.mp4" controls class="video-item"></video>
      </div>
      <div class="swiper-slide">
        <video src="assets/video2.mp4" controls class="video-item"></video>
      </div>
      <div class="swiper-slide">
        <video src="assets/video3.mp4" controls class="video-item"></video>
      </div>
      <div class="swiper-slide">
        <video src="assets/video4.mp4" controls class="video-item"></video>
      </div>
      <div class="swiper-slide">
        <video src="assets/video5.mp4" controls class="video-item"></video>
      </div>
    </div>
    <!-- Controles de navegación -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

