<main>
  <!-- Hero Section -->
  <section id="services-welcome" class="welcome-container" data-aos="fade-up">
    <div class="welcome-card" data-aos="fade-up">
      <h1>SERVICIOS DE BELLEZA</h1>
      <br>
      <h2>BIENVENIDA A<br><br> EDITH MANRIQUE <br><br> BEAUTY STUDIO</h2>
    </div>
    <div class="welcome-image" data-aos="fade-up">
      <img src="assets/peinado.jpeg" alt="Servicios de Belleza">
    </div>
  </section>

  <!-- Acerca de Nuestros Servicios -->
  <section id="about-services" class="about-container" data-aos="fade-up">
    <div class="about-text">
      <h3>Acerca de nuestros servicios</h3>
      <div class="about-card">
        <p>
          En Edith Manrique Beauty Studio ofrecemos servicios especializados para resaltar tu belleza única. 
          Desde maquillaje profesional y peinados para cualquier ocasión, hasta asesorías en colorimetría para descubrir los tonos que mejor realzan tu piel. 
          ¡Deja que nuestra experiencia te ayude a lucir increíble!
        </p>
      </div>
    </div>
  </section>

  <!-- Detalle de Maquillajes -->
  <section id="makeup-details" class="makeup-section" data-aos="fade-up">
    <h3>Nuestros Maquillajes</h3>
    <div class="makeup-list">
      <!-- Maquillaje Social de Día -->
      <div class="makeup-item" data-aos="fade-right">
        <img src="assets/socialDiaD.jpeg" alt="Maquillaje Social de Día">
        <div class="makeup-info">
          <h4>Maquillaje Social de Día</h4>
          <p>
            Maquillaje suave en tonos cálidos y rosados. Buscamos resaltar tu belleza natural, ideal para tu día a día.
          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <!-- Maquillaje Social de Noche -->
      <div class="makeup-item" data-aos="fade-left">
        <img src="assets/socialNocheD.jpeg" alt="Maquillaje Social de Noche">
        <div class="makeup-info">
          <h4>Maquillaje Social de Noche</h4>
          <p>
            Maquillaje en tonos cálidos degradados, iluminación y un toque de brillo para agrandar visualmente la mirada, buscamos generar intensidad y luminosidad respetando la colorimetria de tu piel.
          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <!-- Maquillaje Smokey Eyes -->
      <div class="makeup-item" data-aos="fade-right">
        <img src="assets/smokeeyes.jpeg" alt="Maquillaje Smokey Eyes">
        <div class="makeup-info">
          <h4>Maquillaje Smokey Eyes</h4>
          <p>
            Maquillaje en tonos cafes y oscuros ahumados, con un toque de glitter de color, buscamos realzar la mirada haciéndola lucir profunda, atractiva y llamativa.
          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <!-- Nuevos Makeup Items -->
      <div class="makeup-item" data-aos="fade-left">
        <img src="assets/pielMaduraHilosTensoresD.jpeg" alt="Maquillaje de Novia">
        <div class="makeup-info">
          <h4>Maquillaje piel madura con hilos tensores</h4>
          <p>
            Maquillaje en tonos degradados y con iluminación, buscamos realzar la belleza natural sin acentuar las líneas de expresión, agregando de manera opcional hilos tensores que yudan a atenuar arrugas, dar soporte y mejorar la textura de la piel para una mejor apariencia.
          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <div class="makeup-item" data-aos="fade-right">
        <img src="assets/despuesXV.jpeg" alt="Maquillaje de Fantasía">
        <div class="makeup-info">
          <h4>Maquillaje de XV años</h4>
          <p>
            Maquillaje en tonos neutros o glam con color, brillo y delineados, buscamos realizar un maquillaje especial y completamente personalizado, donde se realze la belleza natural de la quinceañera sin recargarla demasiado, haciéndola lucir saludable y juvenil.          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <div class="makeup-item" data-aos="fade-left">
        <img src="assets/nupcialDiaDespues.jpeg" alt="Maquillaje Glamouroso">
        <div class="makeup-info">
          <h4>Maquillaje nupcial de día</h4>
          <p>
            Maquillaje elegante y luminoso en tonalidades neutras, cafes, beige y rosados, buscamos realzar los rasgos de la novia adaptándonos al tipo de ceremonia y siendo fieles a su estilo, haciéndola lucir radiante y cómoda.          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <div class="makeup-item" data-aos="fade-right">
        <img src="assets/nupcialNochedespues.jpeg" alt="Maquillaje para Eventos">
        <div class="makeup-info">
          <h4>Maquillaje nupcial de noche</h4>
          <p>
            Maquillaje elegante y sofisticado en tonalidades neutras, cafes, rosados y con sombras satinadas o brillo,  buscamos realzar los rasgos de la novia adaptándonos al tipo de ceremonia y siendo fieles a su estilo, haciéndola lucir radiante y cómoda.          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <div class="makeup-item" data-aos="fade-left">
        <img src="assets/fullcolorDespues.jpeg" alt="Maquillaje Artístico">
        <div class="makeup-info">
          <h4>Maquillaje full color</h4>
          <p>
            Maquillaje vibrante y colorido, adaptado para eventos especiales, fotografías o para el día a día, buscamos hacer resaltar labios y la mirada principalmente para hacerte lucir un rostro luminoso, vibrante y lleno de vida.          </p>
          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

      <div class="makeup-item" data-aos="fade-left">
        <img src="assets/editorialDespues.jpeg" alt="Maquillaje Artístico">
        <div class="makeup-info">
          <h4>Maquillaje editorial</h4>
          <p>
            Maquillaje creativo y abierto a la inspiración, con delineados gráficos, colores, brillo o glitter, buscamos realizar lo que la clienta o egencia solicite, este maquillaje lo realizamos para revistas, publicidad, pasarelas y redes sociales.          <p><strong>¿Quiere agendar una cita?</strong> Escríbenos vía WhatsApp: <a href="https://wa.me/4777465581" target="_blank">4777465581</a></p>
        </div>
      </div>

    </div>
  </section>
</main>
