<main>
  <!-- Hero Section -->
  <section id="services-welcome" class="welcome-container" data-aos="fade-up">
    <div class="welcome-card" data-aos="fade-up">
        <h1 [innerHTML]="'SERVICES.HERO.TITLE' | translate"></h1>

    <h2 [innerHTML]="'SERVICES.HERO.SUBTITLE' | translate"></h2>
    </div>

    <div class="welcome-image" data-aos="fade-up">
      <img src="assets/peinado.jpeg" alt="Beauty Services">
    </div>
  </section>

  <!-- Acerca de Nuestros Servicios -->
  <section id="about-services" class="about-container" data-aos="fade-up">
    <div class="about-text">
      <h3>{{ 'SERVICES.ABOUT.TITLE' | translate }}</h3>

      <div class="about-card">
        <p>
          {{ 'SERVICES.ABOUT.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </section>

  <!-- Detalle de Maquillajes -->
  <section id="makeup-details" class="makeup-section" data-aos="fade-up">
    <h3>{{ 'SERVICES.MAKEUP.TITLE' | translate }}</h3>

    <div class="makeup-list">
      <div class="makeup-item" data-aos="fade-right" *ngFor="let servicio of servicios">

        <img [src]="servicio.foto" [alt]="servicio.servicio | translate">

        <div class="makeup-info">
          <h4>{{ servicio.servicio | translate }}</h4>

          <p>
            {{ servicio.descripcion | translate }}
          </p>

          <p>
            <strong>{{ 'SERVICES.BOOKING.TITLE' | translate }}</strong>
            {{ 'SERVICES.BOOKING.TEXT' | translate }}

            <a
              href="https://www.instagram.com/edithmanriquemakeup?utm_source=qr&igsh=MTJoaHFuODFrcWt4eA=="
              target="_blank"
              rel="noopener">
              <br><br>&#64;edithmanriquemakeup
            </a>
          </p>

          <button (click)="irAlPortafolio(servicio.id)">
            {{ 'SERVICES.BUTTON' | translate }}
          </button>

        </div>
      </div>
    </div>
  </section>
</main>