<main>
  <!-- Hero Section -->
  <section id="services-welcome" class="welcome-container" data-aos="fade-up">
    <div class="welcome-card" data-aos="fade-up">
      <h1>SERVICIOS DE BELLEZA</h1>
      <br>
      <h2>BIENVENIDA A<br><br> EDITH MANRIQUE <br><br> BEAUTY STUDIO</h2>
    </div>
    <div class="welcome-image" data-aos="fade-up">
      <img src="assets/peinado.jpeg" alt="Servicios de Belleza">
    </div>
  </section>

  <!-- Acerca de Nuestros Servicios -->
  <section id="about-services" class="about-container" data-aos="fade-up">
    <div class="about-text">
      <h3>Acerca de nuestros servicios</h3>
      <div class="about-card">
        <p>
          En Edith Manrique Beauty Studio ofrecemos servicios especializados para resaltar tu belleza única. 
          Desde maquillaje profesional y peinados para cualquier ocasión, hasta asesorías en colorimetría para descubrir los tonos que mejor realzan tu piel. 
          ¡Deja que nuestra experiencia te ayude a lucir increíble!
        </p>
      </div>
    </div>
  </section>

  <!-- Detalle de Maquillajes -->
  <section id="makeup-details" class="makeup-section" data-aos="fade-up">
    <h3>Nuestros Maquillajes</h3>
    <div class="makeup-list">
      <!-- Maquillaje Social de Día -->
      <div class="makeup-item" data-aos="fade-right" *ngFor="let servicio of servicios">
        <img [src]="servicio.foto" alt="{{servicio.servicio}}">
        <div class="makeup-info">
          <h4>{{servicio.servicio}}</h4>
          <p>
            {{servicio.descripcion}}
          </p>
          <p>
            <strong>¿Quiere agendar una cita?</strong>
             Escríbenos vía WhatsApp: 
             <a href="https://wa.me/4777465581" target="_blank">4777465581</a>
            </p>
            <button (click)="irAlPortafolio(servicio.id)">Ver Antes y Después</button>
        </div>
      </div>
    </div>
  </section>
</main>
