<main>

  <!-- Hero Section -->
  <section id="lashes-welcome" class="welcome-container" data-aos="fade-up">

    <div class="welcome-card" data-aos="fade-up">
      <h1 [innerHTML]="'LASHES.HERO.TITLE' | translate"></h1><br>

      <h2 [innerHTML]="'LASHES.HERO.SUBTITLE' | translate"></h2>
    </div>

    <div class="welcome-image" data-aos="fade-up">
      <img src="assets/pestañas/pestaña20.jpeg" alt="Lash Services">
    </div>

  </section>

  <!-- Acerca de -->
  <section id="about-lashes" class="about-container" data-aos="fade-up">

    <div class="about-text">

      <h3>{{ 'LASHES.ABOUT.TITLE' | translate }}</h3>

      <div class="about-card">
        <p>
          {{ 'LASHES.ABOUT.DESCRIPTION' | translate }}
        </p>
      </div>

    </div>

  </section>
<!-- Diferencias entre estilos -->
<section id="lashes-guide" class="lashes-guide" data-aos="fade-up">

  <h3>{{ 'LASHES.GUIDE.TITLE' | translate }}</h3>

  <p class="guide-description">
    {{ 'LASHES.GUIDE.DESCRIPTION' | translate }}
  </p>

  <div class="guide-image">

  <img
  [src]="guiaImagen"
  [alt]="'LASHES.GUIDE.TITLE' | translate">

  </div>

</section>

<!-- Extensiones de pestañas pelo a pelo -->
<section id="lashes-mapping" class="lashes-mapping" data-aos="fade-up">

  <h2 class="mapping-title">
    {{ 'LASHES.MAPPING.HEADER' | translate }}
  </h2>

  <p class="mapping-description">
    {{ 'LASHES.MAPPING.DESCRIPTION' | translate }}
  </p>

  <div class="mapping-grid">

    <div class="mapping-card" *ngFor="let estilo of estilosPeloAPelo">

      <img
        [src]="estilo.foto"
        [alt]="estilo.nombre | translate">

      <h4>
        {{ estilo.nombre | translate }}
      </h4>

      <p>
        {{ estilo.descripcion | translate }}
      </p>

    </div>

  </div>

</section>

<!-- Servicios -->
<section id="lashes-details" class="makeup-section" data-aos="fade-up">

  <h3>{{ 'LASHES.SERVICES.TITLE' | translate }}</h3>

  <p class="services-description">
    {{ 'LASHES.SERVICES.DESCRIPTION' | translate }}
  </p>

  <div class="makeup-list">

    <div
      class="makeup-item"
      data-aos="fade-right"
      *ngFor="let pestana of pestanas">

      <img
        [src]="pestana.foto"
        [alt]="pestana.servicio | translate">

      <div class="makeup-info">

        <h4>
          {{ pestana.servicio | translate }}
        </h4>

        <p>
          {{ pestana.descripcion | translate }}
        </p>

        <p>
          <strong>
            {{ 'LASHES.BOOKING.TITLE' | translate }}
          </strong>

          {{ 'LASHES.BOOKING.TEXT' | translate }}

          <a
            href="https://www.instagram.com/edithmanriquemakeup?utm_source=qr&igsh=MTJoaHFuODFrcWt4eA=="
            target="_blank"
            rel="noopener">

            <br><br>

            &#64;edithmanriquemakeup

          </a>
        </p>

      </div>

    </div>

  </div>

</section>

<!-- Diseño de los ojos -->
<section id="eye-effects" class="eye-effects" data-aos="fade-up">

  <h3>
    {{ 'LASHES.EYE_EFFECTS.TITLE' | translate }}
  </h3>

  <p class="eye-effects-description">
    {{ 'LASHES.EYE_EFFECTS.SUBTITLE' | translate }}
  </p>

  <div class="eye-effects-grid">

    <div
      class="eye-card"
      *ngFor="let efecto of efectosOjos">

      <img
        [src]="efecto.foto"
        [alt]="efecto.servicio | translate">

      <div class="eye-info">

        <h4>
          {{ efecto.servicio | translate }}
        </h4>

        <p>
          {{ efecto.descripcion | translate }}
        </p>

      </div>

    </div>

  </div>

</section>
</main>